<div class="sidebar">
  <ul>
    <li><a asp-controller="Home" asp-action="Index">Домашня сторнка</a></li>
    <li><a asp-controller="Product" asp-action="List">Переглянути продукти</a></li>
    <li><a asp-controller="Admin" asp-action="Index">Панель адміністратора</a></li>
  </ul>
</div>
