<div class="sidebar">
  <ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Product" asp-action="List">Products</a></li>
    <li><a asp-controller="Admin" asp-action="Index">Admin Panel</a></li>
  </ul>
</div>
