@model firstwebapp.Models.Product
@{
    ViewData["Title"] = "Створити продукт";
}

<h2>Створити новий продукт</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>
    <button type="submit">Створити</button>
</form>
